<mat-card class="card">
    <mat-card-content class="card__content">
        <div class="card__content-info">
            <mat-card-title class="card__content-title">{{cardTitle}}</mat-card-title>
            <mat-card-subtitle>Warning: 4/7/21, 12:00 AM</mat-card-subtitle>
            <mat-card-subtitle>Close: 4/7/21, 12:00 AM</mat-card-subtitle>
        </div>
        <div class="card__content-gauge">
            <mat-progress-spinner value={{gaugeValue}}></mat-progress-spinner>
        </div>
    </mat-card-content>
    <div class="content__priority">
        <span>{{status}}</span>
        <span class="content__priority-info">
            <mat-icon class="content__priority-icon">fiber_manual_record</mat-icon>
            <span>{{priority}}</span>
        </span>
    </div>
    
    <mat-card-footer class="card__footer">
        <div class="card__footer-pinfo">
            <span>
                6000
            </span>
        <mat-icon class="card__footer-pinfo-icon" aria-hidden="false" aria-label="add icon">euro_symbol</mat-icon>
        </div>
        <div class="card__footer-pinfo">
            <mat-icon class="card__footer-pinfo-icon" aria-hidden="false" aria-label="add icon">person</mat-icon>
            <span>
                diego.tobalina@bosonit.com
            </span>
        </div>
    </mat-card-footer>
</mat-card>