<div class="header">
    <h2 class="header-title">1 Contacts</h2>
    <app-primary-button class="header-button">
        <mat-icon class="header-icon" aria-hidden="false" aria-label="add icon">add</mat-icon>
        <span>Add</span>
    </app-primary-button>
</div>

<mat-card class="card">
    <mat-card-title class="card__title">Sergio Peña</mat-card-title>
    <mat-card-subtitle class="card__subtitle">
        <mat-icon class="" aria-hidden="false" aria-label="add icon">phone</mat-icon>
        999 999 999
    </mat-card-subtitle>
    <mat-card-content class="card__content">
        <img class="card__content-img" src="https://generated.photos/vue-static/home/hero/6.png" alt="Img">

        <div class="card__content-info">
            <mat-card-subtitle>
                Front End Developer
            </mat-card-subtitle>
            <mat-card-subtitle>
                sergio.pena@bosonit.com
            </mat-card-subtitle>
        </div>
    </mat-card-content>
    <mat-card-footer class="card__footer">
        <div class="card__footer-pinfo">
            <mat-icon class="card__footer-pinfo-icon" aria-hidden="false" aria-label="add icon">phone</mat-icon>

            <span>
                No phone 2
            </span>

        </div>

        <div class="card__footer-pinfo">
            <mat-icon class="card__footer-pinfo-icon" aria-hidden="false" aria-label="add icon">person</mat-icon>

            <span>
                diego.tobalina@bosonit.com
            </span>

        </div>
    </mat-card-footer>
</mat-card>