:host{
    width: 100%;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    .header{
        width: 100%;
        display:flex;
        flex-flow: column;
        .profile__img{
            width: 150px;
        }
        .profile__info{
            width: 100%;
            display: flex;
            flex-flow: row;
            margin-left: 32px;
            width: 100%;
            box-sizing: border-box;
            .profile__description{
                width: 100%;
                &-title{
                    color: #F94E7B;
                }
                &-subtitle{
                    display: block;
                    color: black;
                }
                &-icon{
                    margin-right: 5px;
                }
            }
        }
        &__footer{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
        }
        .footer-chips{
            width: 100%;
        }
    }
}