<div class="header">
    <div class="profile__info">
        <div class="profile__image-div">
            <img src={{img}}
            alt="Profile IMG"
            class="profile__img">
        </div>
        <div class="profile__description">
            <h2 class="profile__description-title">{{title}}</h2>
            <div class="profile__description-row">
                <span class="profile__description-icon">
                    <mat-icon>email</mat-icon>
                </span>
                {{ProfileEmail}}
                <span class="profile__description-subtitle"></span>
            </div>
            <div class="profile__description-row">
                <span class="profile__description-icon">
                    <mat-icon>phone</mat-icon>
                </span>
                {{ProfilePhone1}}
                <span class="profile__description-subtitle"></span>
            </div>
            
            <div class="profile__description-row">
                <span class="profile__description-icon">
                    <mat-icon>phone</mat-icon>
                </span>
                {{ProfilePhone2}}
                <span class="profile__description-subtitle"></span>
            </div>
        </div>
    </div>
    <div class="buttons">
        <mat-chip-list>
            <mat-chip>
                <mat-icon class="buttons__chip-icon">
                fiber_manual_record
                </mat-icon>
        Normal Relationship level</mat-chip>
        </mat-chip-list>
    </div>
</div>
<h2 class="form__title">{{FormTitle}}</h2>
<form class="form">
    <span class="form__label">CIF/NIF:*</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Social Reason</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Commercial Name *</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Comercial name 2</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Car</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Subcar</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Name</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Surname</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">CIF/NIF:*</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Social Reason</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Commercial Name *</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Comercial name 2</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Car</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Subcar</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Name</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Surname</span>
    <input type="text" value="A84073105" class="form__input">
</form>
<app-primary-button>
    <mat-icon aria-hidden="false" aria-label="save icon">save</mat-icon>
    <span>Save</span>
</app-primary-button>
