<div class="profile__img">
    <img src="assets/Greenville_round_living_black.p1.png"
        alt="Profile IMG"
        class="profile__img-img">
</div>

<div class="profile__info">
    <h2 class="profile__info-title">Madrid Spain</h2>
    <span class="profile__info-icon">icon</span>description<span class="profile__info-subtitles"></span>
    <span class="profile__info-icon">icon</span>description<span class="profile__info-subtitles"></span>
    <span class="profile__info-icon">icon</span>description<span class="profile__info-subtitles"></span>
</div>