<div class="header">
    <div class="profile__info">
        <div class="profile__image-div">
            <img src="assets/Greenville_round_living_black.p1.png"
            alt="Profile IMG"
            class="profile__img">
        </div>

        <div class="profile__description">
            <h2 class="profile__description-title">Madrid Spain</h2>

            <span class="profile__description-icon">icon</span>description
            <span class="profile__description-subtitle"></span>

            <span class="profile__description-icon">icon</span>description
            <span class="profile__description-subtitle"></span>

            <span class="profile__description-icon">icon</span>description
            <span class="profile__description-subtitle"></span>
        </div>
    </div>
    <div class="buttons">
        <mat-chip-list>
            <mat-chip>No Status</mat-chip>
            <mat-chip>Normal priority</mat-chip>
            <mat-chip>A category</mat-chip>
        </mat-chip-list>
    </div>
</div>
<h2 class="form__title">About this account</h2>
<form class="form">
    <span class="form__label">CIF/NIF:*</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Social Reason</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Commercial Name *</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Comercial name 2</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Car</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Subcar</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Name</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Surname</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">CIF/NIF:*</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Social Reason</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Commercial Name *</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Comercial name 2</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Car</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Subcar</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Name</span>
    <input type="text" value="A84073105" class="form__input">
    <span class="form__label">Surname</span>
    <input type="text" value="A84073105" class="form__input">
</form>
<app-primary-button>Save</app-primary-button>