:host{
    display: block;
    div{
        margin-top: 5px;
        display: flex;
        flex-direction: row-reverse;
        button{
            padding: 0;
            box-sizing: border-box;
            height: 28px;
            width: 70px;
            border-radius: 100px;
            border: none;
            background-color: #F25B74;
            color: white;
            font-size: 13px;
            display: flex;
            flex-flow: row;
            align-items: center;
            .icon{
                margin-right: 5px;
            }
            user-select: none;
        }
    }

}
