<div class="root">
  <app-section-row>
    <app-section>
      <app-profile-section></app-profile-section>
    </app-section>
    <app-section>
      <app-navbar>
        <app-navbar-button>Notes</app-navbar-button>
        <app-navbar-button>Activities</app-navbar-button>
      </app-navbar>
      <app-notes>
        <app-primary-button>
          <ng-container icon>+</ng-container>Note
        </app-primary-button>
      </app-notes>
      <app-activities>
        <app-primary-button>
          <ng-container icon>+</ng-container>Activity
        </app-primary-button>
      </app-activities>
    </app-section>
    <app-section [shadowless]="true">
      <app-section-column>
        <app-section>
          <app-contacts></app-contacts>
        </app-section>
        <app-section>
          <app-oportunities></app-oportunities>
        </app-section>
      </app-section-column>
    </app-section>
  </app-section-row>
</div>