@import "src/styles.scss";

:host {
    width: 100%;
    padding: $DEFAULTMARGIN;
    box-sizing: border-box;
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-button {
            margin-right: 20px;
        }
        &-title {
            margin-left: 20px;
        }
    }
    .cards__section {
        box-sizing: border-box;
        width: 100%;
        height: 400px;
        overflow-y: scroll;
        }
    ::-webkit-scrollbar {
        border-radius: 90px;
        background-color: white;
        width: 10px;
        &-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }
        &-thumb {
            background: grey;
            border-radius: 10px;
            &:hover {
                background: #f94e7b;
            }
        }
    }

}
